################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/DoceApp/FileContentIndex/5380293e-2e91-495a-9445-d6e488497776.vsidx
/.vs/DoceApp/FileContentIndex/4d40ea1c-c8b2-4c59-92c9-263d962e4385.vsidx
/.vs/DoceApp/FileContentIndex/4c0b0276-c4c6-4d01-aed1-795f0814dcf1.vsidx
/.vs/DoceApp/FileContentIndex/14394253-1bfb-4017-97e3-8fd26a923eb3.vsidx
