@model DoceApp.Models.EmailViewModel;
@{

	ViewData["Title"] = "Recover";
	Layout = "CleanLayout";

	var hasReturn = Model?.ReturnMessage != null ? "true" : "false";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<link rel="stylesheet" href="~/css/Login.css" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h1 class="title">Recuperar senha</h1>
		</div>

		<div class="facaLogin">

			<form method="post" asp-controller="User" asp-action="MailMessage">
				<input class="form-control input-lg" asp-for="Email" type="email"  placeholder="example@email.com">
				
				<br/>

				<button type="submit" class="btn btn-primary" >Enviar</button>

				<br/> 
			
			</form>
		</div>
	</div>
</div>

<script>
	if("@hasReturn" === "true"){
		CallToastr("@Model?.ReturnMessage.Type", "@Model?.ReturnMessage.Title", "@Model?.ReturnMessage.Message")
	}
</script>
}
