@model HomeViewModel
@{
	ViewData["Title"] = "Home";
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />

<div>
	<div class="title">
		<h2 >Compre por departamento</h2>
	</div>
	
	<div class="departaments-box">
		@foreach(var departament in Model.Departaments)
		{
			<div class ="departaments-box-child">
				<img class="departament-icon" src="@departament.Icon"; >
				<p title="@departament.Name">@departament.Name</p>
			</div>
		}
	</div>
</div>