@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h2 class="title">Compre por departamento</h2>
		</div>
	</div>
</div>