@model DoceApp.Models.Entidades.User;
@{
	ViewData["Title"] = "RegisterUser";
	Layout = "CleanLayout";

	
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
*@
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h1 class="title">Candy Gourmet</h1>
		</div>
		<div class="facaLogin">
			<div class="box-login">
				<h1 class="subtitle">Cadastro</h1>
			</div>
			<br/>
			<form method="post" asp-controller="User" asp-action="Register">
				<input class="form-control input-lg" asp-for="Name" type="text" aria-label="Nome" placeholder="Nome">
				
				<br/>

				<input class="form-control " asp-for="Email" type="email" aria-label="Email" placeholder="ex: example@email.com.br">

				<br />
				<input class="form-control " asp-for="Cpf" type="text" placeholder="ex: 000.000.000-00">

				<br />
									

				<p>
					Use oito caracteres com uma combinação de letras, números e símbolos.
				</p>

				<br/>

				<button type="submit" class="btn btn-primary" > Cadastrar</button>
				
				<p class="link">
					Já tem conta?
					<a href="@Url.Action("Login", "User")">Ir para Login </a>
				</p>
			</form>
		</div>
	</div>
</div>  


