@model DoceApp.Models.Entidades.Login

@{
	ViewData["Title"] = "Login";
	Layout = "CleanLayout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

<link rel="stylesheet" href="~/css/Login.css" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h1 class="title">Candy Gourmet</h1>
		</div>

		<div class="facaLogin">
			<div class="box-login">
				<h1 class="subtitle">Faça login na sua conta</h1>
			</div>
			<br/>
			<form method="post"  asp-controller="User" asp-action="PostLogin">
				<input class="form-control input-lg" asp-for="User" type="text" aria-label="Usuário" placeholder="Usuário">
			
				<br />
				
				<input class="form-control input-lg" asp-for="Password" type="password" aria-label="Senha" placeholder="Senha">
			
				<div class="forgot">
					<a href="#">Esqueci minha senha</a>
				</div>
				
				<br/>
				<br/>
				
				<button type="submit" class="btn btn-primary" >Entrar</button>
																		
				<br/> 
				
				<p> Não possui um usuário na DoceApp?</p>
				<div class="create">
					<a asp-action="Register">Cadastre-se agora</a>
				</div>
				
			</form>
		</div>
	</div>
</div>

<script>
	var status = "@Model?.ErrorType";
	console.log(status)

	if(status == "E"){
		toastr["error"]("senha ou usuário incorretos", "Error");
	}
</script>