body {
    background-image: url("https://i.pinimg.com/736x/3e/b6/bf/3eb6bfca7de57e8948e2ac200533cecb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
  text-align: center;
  margin-top:250px;
}

.departaments-header-box {
}

.departaments-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap:25px;
}

.departaments-box-child {
    width: 300px; /*largura*/
    height: 300px; /*altura*/
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    background-color: lightpink;
    font-size: large;
    color: white;
}

.departament-icon {
    width: 50%;
    height: 50%;
    margin-top: 10%;
}
.main{
    display:flex;
    justify-content:center;
    align-items:center;
}