body {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-dia-mundial-do-chocolate-em-aquarela-com-doces-de-chocolate_23-2149441176.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-box{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;

}
.flex-box-child {
    display: block;
    font-size: 1.5em;
    margin-top:15rem ;
    font-weight: bold;
    color: palevioletred;
}
