body {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-dia-mundial-do-chocolate-em-aquarela-com-doces-de-chocolate_23-2149441176.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
