@model DoceApp.Models.LoginViewModel

@{
	ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="flex-box">
	<div class="flex-box-child">
		<div class="figure-img">
			<h1 class="title">Candy Gourmet</h1>
		</div>

		<div class="facaLogin">
			<div class="box-login">
				<h1 class="subtitle">Faça login na sua conta</h1>
			</div>
			<br/>
			<form role="form">
				<input class="form-control input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
				
				<br />
				
				<input class="form-control input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">

				<div class="forgot">
					<a href="#">Esqueci minha senha</a>
				</div>
				
				<br/>
				<br/>
				
				<button type="submit" class="btn btn-primary" asp-action="RealizarLogin">Entrar</button>

				<br/>
				
				<p> Não possui um usuário na DoceApp?</p>
				<div class="create">
					<a asp-action="Cadastrar">Cadastre-se agora</a>
				</div>
				
			</form>
		</div>
	</div>
</div>  

